
body{
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
   

}

h1.a{
    margin-top:20px ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 5px;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 4px;
    word-spacing: 5px;
}
.login{
    margin: 150px 40px 50px 20px; 
}
.register{
    margin: 150px 20px 50px 40px;
}

a.login:link ,a.login:visited{
    background-color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    display: inline-block;
    color:green ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    border-style: solid;
    border-color: black;
}
a.login:hover,a.login:active{
    background-color: lightcoral;
    color: black;
}
a.register:link ,a.register:visited{
    background-color: white;
    text-align: center;
    padding: 20px 40px;
    text-decoration: none;
    display: inline-block;
    color:green ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 800;
    border-style: solid;
    border-color: black;
}
a.register:hover,a.register:active{
    background-color: lightcoral;
    color: black;
}
h1.b{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
}
form{
    text-align: center;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
}
   

.username,.password,.date,.gender,.email,.number{
    margin-left: 50px;
    border-style: solid;
    border-radius: 10px;
    padding: 20px;
}
