@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", "sans-serif";
}
ul {
  list-style: none;
  /* background-color: #252525; */
  justify-content: center;
  text-align: center;
}
.homebutton {
  border-radius: 40px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
}
ul li {
  display: inline-block;
  margin-block: 20px;
  padding: 20px 40px;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  letter-spacing: 3px;
  
}


li a {
  text-decoration: none;
  color: whitesmoke;
}
body.homepage {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  font-family: "Kanit", sans-serif;
  overflow-x: hidden;
  
}
.selection {
  justify-content: space-evenly;
  display: flex;
  margin-top: 5%;
  color: black;
  font-weight: bold;
  letter-spacing: 3px;
}
.options1,
.options2,
.options3 {
  padding: 10%;

  margin: 30px;
  border-radius: 15px;
  position: relative;
  width: 50%;
  /* background-image: url("img/movie.jpg");
  background-size: cover; */
  box-shadow: 3px 3px 10px #202020;
}
.options1 {
  background-image: url("img/movlogo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.options2 {
  background-image: url("img/weblogo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.options3 {
  background-image: url("img/anilogo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hiddentxt {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
  background-color: #062639;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 15px;
  color: whitesmoke;
}
.image {
  display: flex;
  width: 100%;
  height: auto;
}
.txt {
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  padding-top: 50%;
  padding-left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.options1:hover .hiddentxt {
  height: 100%;
  box-shadow: 2px 2px 25px #429e9d;
}
.options2:hover .hiddentxt {
  height: 100%;
  box-shadow: 2px 2px 25px #429e9d;

}
.options3:hover .hiddentxt {
  height: 100%;
  box-shadow: 2px 2px 25px #429e9d;

}
h1 {
  text-align: center;
  padding-top: 10%;
}
h3 {
  padding-left: 20%;
  text-transform: uppercase;
}
.moto {
  color: whitesmoke;
  font-size: 30;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  word-spacing: 5px;
}
p {
  font-size: 20px;
  text-transform: lowercase;
}
.movieheading,
.seriesheading,
.animeheading {
  color: whitesmoke;
  padding-left: 50px;
  padding-top: 10px;
}
header {
  font-size: 50;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 3px;
  color: whitesmoke;
}
.description {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: whitesmoke;
}
/* .selectgenre , .selectlanguage{
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  color: whitesmoke;
  padding-left: 50px;
  margin-top: 80px;
}
.btn {
  display: inline-block;
  padding: 20px;
  margin-left: 50px;
  margin-top: 30px;
  margin-right: 30px;
  font-family: "Kanit", "sans-serif";
  font-size: 20px;
  border: none;
  border-radius: 10%;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #a29bfe, #55efc4);
  transition: transform 0.2s; */

.btn:hover {
  transform: scale(1.25);
  cursor: pointer;
}
.btn.active {
  color: #cc0000;
}
/* .movies {
 display: inline-block;
  margin: 50px;
 border-radius: 25px;
 box-sizing: border-box;
}
body.moviepage {
  background-color: #28231d;
  overflow-x: hidden;
  font-family: "Kanit", sans-serif;
}
.title {
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  font-size: 25;
}
.watchbtn {
  border-color: #cc0000;
  border-style: solid;
  border-radius: 50px;
  margin: auto;
  padding: 10px ;
  font-weight: 900 ;
  font-size: 16;
  background-color: #cc0000;
  color: whitesmoke;
  letter-spacing: 2px;
  width: 150px;
  

  transition: transform 0.2s;

}
.watchbtn:hover{
  transform: scale(1.15);
 cursor: pointer;
}
.movies:hover{
  box-shadow:  2px 2px 15px #004d7a;
  background-color: #49443e;
}
.img{
  transition: 0.5s ease;

}
:hover{
  transform: scale(1.25);

} */

.movcontainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  text-align: center;
  place-items: center;
  padding: 1rem;
}
.movies {
  box-shadow: 2px 2px 10px cyan;
  padding: 2rem;
  border-radius: 20px;
}
/* .btn:active{
  color: #cc0000;
} */

.pic {
  border-radius: 20px;
  overflow: hidden;
}

.img {
  transition: 0.5s ease;
  width: 220px;
  height: 300px;
}

img:hover {
  transform: scale(1.25);
}
body.moviepage,
body.seriespage,
body.animepage ,
body.aboutpage{
  background-image: linear-gradient(to right, #252525 0%, black 100%);
  overflow-x: hidden;
  font-family: "Kanit", sans-serif;
}
.title {
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  /* font-size: 25; */
  max-width: 200px;
  height: 50px;
  margin-block: 10px;
  letter-spacing: 2px;
}

.watchbtn {
  border-color: #cc0000;
  border-style: solid;
  border-radius: 50px;
  margin: auto;
  padding: 10px;
  font-weight: 900;
  font-size: 16;
  background-color: #cc0000;
  color: whitesmoke;
  letter-spacing: 2px;
  width: 150px;

  transition: transform 0.2s;
}
.watchbtn:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.sercontainer,
.anicontainer {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  text-align: center;
  place-items: center;
  padding: 1rem;
}

.series {
  box-shadow: 2px 2px 10px rgb(245, 97, 181);
  padding: 2rem;
  border-radius: 20px;
}
.anime {
  box-shadow: 2px 2px 10px #00ff4c;
  padding: 2rem;
  border-radius: 20px;
}

.title {
  color: whitesmoke;
  text-align: center;
  text-transform: uppercase;
  /* font-size: 25; */
  max-width: 200px;
  height: 50px;
  margin-block: 10px;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  margin: 35px;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 2;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: whitesmoke;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
  
}
.menu__btn > span::after {
  content: '';
  top: 8px;
  
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  z-index: 1;
  list-style: none;
  background-color:  #062639;
  box-shadow: 2px 2px 6px   #429e9d;

  transition-duration: .5s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: whitesmoke;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  transform: scale(1.75);
  }

body.loginpage{
  overflow: hidden;
background-image: url("img/c2.jpeg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.card{
  border:  1px solid black;
  margin-top: 70px; 
text-align: center;
  width: 500px;
  height: 500px;
  color: whitesmoke;
  border-radius: 25px;
  box-shadow: 4px 4px 65px #004d7a;
  letter-spacing: 3px;
  background-color: #252525;
  float: left;
}

input[type="text"]{
  margin-top: 80px;
  background: none;
  width: 350px;
  height: 50px;
border: none;
padding: 20px;
color: whitesmoke;


}


input[type="password"]{
  background: none;
  width: 350px;
  height: 50px;
border: none;
padding: 20px;
color: whitesmoke;

margin-top: 50px;
}

#btn{
  display: block;
  margin-left: 200px;
  margin-block: 60px;
  width: 100px;
  /* height: 40px; */
  border-radius: 20px;
  padding: 20px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
font-weight: 800;
border-style: none;
box-shadow: 2px 2px 70px #252525;
}

  .logintitle{
    font-family: 'Pacifico', cursive;
    color: #202020;
    margin-block: 130px;
    margin-left: 100px;
   text-decoration: underline;

  
  }

  #one{
    float:right;
    color: whitesmoke;
     font-family: 'Pacifico', cursive;
    font-size: 30 ;
  }

  #two{
    margin-left: 400px;
  }

  body.aboutpage{
    overflow: hidden;
  }
  .rohan,.pun{
    width: 400px;
    height: 600px;
    margin: 5% 250px;
    display: inline-block ;
    box-shadow:2px 2px 30px #00bf72;
border-radius: 20px;
background-color: grey;
opacity: 0.3;
transition: 0.5s;
font-weight: 900;

  }
  .mypic,.herpic{
    border-radius: 50%;
    margin: 30px 25%;
    width: 50%;
    height: 30%;
    box-shadow: 2px 2px 40px white ;
  }
  .contact{
    width: 70%;
    margin: 10%;
    padding: 10px;
    border-radius: 20px;
  }
  label{
    margin: 10px;
    display: block;
    padding: 10px;
    text-align: center;
    }
    .rohan:hover,.pun:hover{
      transform: scale(1.15);
      opacity: 1;

    }
    .mypic{
      background-image: url("img/roh.jpeg");
      background-position: center;
      background-size: cover;
    }
    .herpic{
      background-image: url("img/pun.png");
      background-position: center;
    }